<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="CMakeRunConfiguration" factoryName="Application" singleton="true" PASS_PARENT_ENVS_2="true" PROJECT_NAME="RType" TARGET_NAME="server" CONFIG_NAME="Debug" RUN_TARGET_PROJECT_NAME="RType" RUN_TARGET_NAME="server">
    <envs />
    <method />
  </configuration>
</component>